@import url("../styles/global.css");

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-between;

  img {
    width: 53%;
  }

  aside {
    width: 47%;

    display: flex;
    font-display: column;
    align-items: center;
    justify-content: center;
  }

  section {
    position: absolute;
    top: 48px;
  }

  .formContainer {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin-top: 48px;
  }
  .formContainer h2 {
    font-size: 20px;
    font-weight: 600;
  }

  form {
    margin-top: 24px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  label {
    font-size: 11px;
    padding-left: 16px;
  }

  input {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    background-color: var(--gray);
    border-radius: 6px;
  }

  input::placeholder {
    color: var(--dark_gray);
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .topo > img {
    width: 40px;
    height: 40px;
  }
  .topo > h1 {
    font-size: 16px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    display: flex;
  }

  .rememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .rememberMe input {
    width: 15px;
    height: 15px;
  }

  .remember {
    font-size: 12px;
  }

  #botao {
    width: 40px;
    height: 20px;
  }

  #forgot {
    font-size: 12px;
    color: var(--blue);
  }

  .forgot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    cursor: pointer;
  }

  .sign_in button {
    color: var(--white);
    font-weight: bold;
  }

  button:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px) scale(1.02);
    transition: 0.5s;
  }

  /* Mudei a estrutura */

  .sso {
    background-color: var(--black);
    gap: 8px;
  }

  .sso img {
    width: 19.74px;
    height: 20px;
  }

  .sso p {
    font-size: 12px;
  }

  .dontAccount {
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  .dontAccount a {
    color: var(--blue);
  }
}
